@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  color: var(--font-black);
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0;
  word-break: keep-all;
  object-fit: contain;
  transition-duration: 300ms;
}
img{
  display: block;
}
/* 브랜드컬러 */
:root {
  --font-black: #333333;
  --font-gray: #737373;
  --font-light-gray: #a5a5a5;

  --background-gray: #f8f8f8;
  --background-white: #ffffff;
  --alert-red: #f62215;
  --line-gray: #f2f2f2;
}
/* 컬러시스템 */
.fontgray {
  color: var(--font-gray);
}
.font_deep_brown {
  color: var(--main-deep-brown);
}
.font_light_gray,
::placeholder {
  color: var(--font-light-gray);
}
.white {
  color: var(--background-white);
}

.bold {
  font-weight: 700;
}
.xbold {
  font-weight: 800;
}

.h5 {
  font-size: 0.8rem;
}
.h4 {
  font-size: 1.2rem;
}
.h3 {
  font-size: 1.4rem;
}
.h2 {
  font-size: 1.6rem;
}
.h1 {
  font-size: 1.8rem;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and(max-width:425px) {
  body {
    letter-spacing: 1px;
  }
}
